<ion-content [fullscreen]="true" class="content">

  <ion-item lines="">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title color="success">Lista de pokemones</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPokemones(searchTerm)"></ion-searchbar>

    <ion-card *ngFor="let notis of listPokemones" (click)="navigate(notis)">
      <img src="../../assets/icon/poke-card.png" alt="" class="background">
      <ion-card-content>
        <ion-grid fixed >

          <ion-row >
            
            <ion-col size="6">
              <img src={{notis.url_imag}} alt="img">
            </ion-col>

            <ion-col size="6">
              <ion-text color="primary">
                <h2>{{notis.nombre}}
                  <br>
                  {{notis.categoria}}
                </h2>
              </ion-text>
            </ion-col>
            
          </ion-row>

        </ion-grid>

      </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
  <div id="footer">
    <ion-toolbar color="warning">
      <div class="ion-text-center">
        <img src="../../assets/icon/pokeball.png" id="camera" (click)="back()">
      </div>
    </ion-toolbar>
  </div>
</ion-footer>