<ion-content [fullscreen]="true" class="content">

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title color="success">Lista de Audio</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPokemones(searchTerm)"></ion-searchbar>

  <ion-card *ngFor="let notis of listvideos" (click)="navigate(notis)">
    <ion-card-content>
      <ion-row>
      <ion-col>
        <audio controls><source src="{{notis.direcionAudio}}"></audio>
      </ion-col>

      <ion-col>
        <ion-text color="primary">
          <h2>
            Nombre: {{notis.nombreAudio}}
          </h2>
        </ion-text>
      </ion-col>
    </ion-row>
          
    </ion-card-content>
  </ion-card>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title color="success">Lista de Videos</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  <ion-grid [fixed]="true">
    <ion-row>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/UcaeFC17Mcs?si=b8uhSZjYaaqPdSrX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/nxln4vi3J5E?si=q06h6DS0NCLHyLlh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/KheI_qHGT1o?si=qcjOta51MR9s58Uh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/thkUBV--80Y?si=oRri_X_D6jR7cvFj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/14SzfLg37Uk?si=_GfPgoB-9BGm8bP5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/vzTKaM-rd3g?si=m-3iQWbeLQtRBipZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; speaker" allowfullscreen></iframe><br>
      </ion-row>
  </ion-grid>
  
</ion-content>

<ion-footer>
  <div id="footer">
    <ion-toolbar color="warning">
      <div class="ion-text-center">
        <ion-icon name="volume-high-outline" (click)="back()"></ion-icon><br>
      </div>
    </ion-toolbar>
  </div>
</ion-footer>
