<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>lista Musica</ion-title>
    <ion-button (click)="back()" slot="end">volver</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

  <ion-item lines="">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title color="success">Lista de Audio</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPokemones(searchTerm)"></ion-searchbar>

  <ion-list>
    <ion-item lines="none">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card *ngFor="let notis of listvideos" (click)="navigate(notis)">
              <ion-card-content>
                <ion-grid fixed >

                  <ion-row >
                    
                    <ion-col>
                      <audio controls><source src="{{notis.direcionAudio}}"></audio>
                    </ion-col>

                    <ion-col>
                      <ion-text color="primary">
                        <h2>
                          Nombre: {{notis.nombreAudio}}
                          <br>
                          Grupo: {{notis.grupo}}
                        </h2>
                      </ion-text>
                    </ion-col>
                    
                  </ion-row>

                </ion-grid>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-item lines="">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title color="success">Lista de Videos</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-list>
    <ion-item lines="none">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card *ngFor="let notis of listvideos" (click)="navigate(notis)">
              <ion-card-content>
                <ion-grid fixed >

                  <ion-row >
                    
                    <ion-col>
                      <video controls width="450px" height="auto"><source src="{{notis.direcionVideo}}"></video>
                    </ion-col>

                    <ion-col>
                      <ion-text color="primary">
                        <h2>{{notis.nombreVideo}}
                          <br>
                          {{notis.grupo}}
                        </h2>
                      </ion-text>
                    </ion-col>
                    
                  </ion-row>

                </ion-grid>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
