.content {
    position: relative;
    overflow: hidden; /* Para evitar que la imagen de fondo se desplace cuando el contenido aumenta */
}
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen de fondo detrás de otros elementos */
}

#camera{
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white; /* Agregar borde blanco de 2px */
}

form{
    text-align: center;
    margin: 50px;
    border-radius: 10px;
}
