<ion-content [fullscreen]="true" class="content">

  <img src="../../assets/icon/fondo.png" alt="" class="background">
  
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>

        <div id="fondox" (click)="irFormulario()">
          <ion-tab-button class="custom-tab-button">
            <ion-icon name="camera-outline"></ion-icon>
            Tomar Foto
          </ion-tab-button>
        </div>

      </ion-col>
      <ion-col>

        <div id="fondox" (click)="irListMusic()">
          <ion-tab-button tab="radio" class="custom-tab-button">
            <ion-icon name="musical-note-outline"></ion-icon>
            Lista musica
          </ion-tab-button>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <div id="fondox" (click)="irRegistro()">
          <ion-tab-button tab="radio" class="custom-tab-button">
            <ion-icon name="clipboard-outline"></ion-icon>
            Registrar
          </ion-tab-button>
        </div>

      </ion-col>
      <ion-col>

        <div id="fondox" (click)="irPokemones()">
          <ion-tab-button tab="radio"  class="custom-tab-button">
            <ion-icon name="apps-outline"></ion-icon>
            Pokemones
          </ion-tab-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br><br><br><br>

    <ion-grid [fixed]="true" *ngIf="receivedImageSource !== undefined">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-title>Fotos</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-card *ngIf="receivedImageSource !== undefined">

    <div class="card-bg" *ngIf="receivedImageSource" [style.backgroundImage]="'url(' + receivedImageSource + ')'"></div>
    
    <div class="content-overlay">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{ receivedTitulo }}</h2>
            <p>{{ receivedDescripcion }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <div *ngIf="reciveSelectedRating !== 0">
        <h5>Calificación: <ion-icon slot="end" *ngFor="let _ of getStarsArray(reciveSelectedRating)" name="star-sharp"></ion-icon></h5>  
      </div>
    
      <ion-button slot="start" (click)="irDetalle()">Calificar</ion-button>
    </div>
  </ion-card>
  
</ion-content>

<ion-footer>
  <div id="footer">
    <ion-toolbar color="warning">
      <div class="ion-text-center">
        <ion-icon name="log-out-outline" (click)="salir()" id="camera"></ion-icon><br>
      </div>
    </ion-toolbar>
  </div>
</ion-footer>